@import '../../../../design-tokens/variables';
.wrapper {
  flex: 1;
}

.link {
  font-size: $base-font;
  text-decoration: none;
  display: inline-block;
  color: $primary-color;
  padding: 0 30px;
  @media (max-width: 992px) {
    padding: 0 15px;
  }
}
