@import './../../design-tokens/variables';
@import './../../design-tokens/mixins';

.wrapper {
  width: 370px;
  .info {
    background-color: #d4daec;
    border-radius: 8px;
    padding: 24px;
    .infoText {
      color: #231e5a;
      font-size: 10px;
    }
    .divider {
      width: 100%;
      height: 1px;
      background-color: #231e5a;
      margin: 24px 0;
    }
  }
  .btn {
    height: 80px;
    width: 100%;
    background-color: $danger-color;

    &:hover {
      background-color: #db3823;
    }
    span {
      font-size: 20px;
    }
  }
  .check {
    display: flex;
    margin: 20px 0;
    p {
      font-size: 12px;
      color: #231e5a;
      span {
        color: $active-color;
      }
    }
  }
  .price {
    display: flex;
    justify-content: space-between;
    color: #231e5a;
  }
  .total {
    display: flex;
    justify-content: space-between;
    color: #231e5a;
    font-weight: 700;
    font-size: 20px;
  }
}
