.info {
  padding-top: 62px;
}

.leftBar {
  position: relative;
  width: 300px;
  padding: 55px 33px 33px 22px;
  background: url('./../../static/images/red_ban.png') no-repeat;
  margin-right: 70px;
}

.title {
  font-size: 32px !important;
  color: #fff !important;
  font-weight: 700 !important;
  margin-bottom: 22px !important;
}

.descr {
  font-size: 16px !important;
  color: #fff !important;
}

.player_wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
