@import './../../design-tokens/mixins';
@import './../../design-tokens/variables';

.wrapper {
  @include box;
  padding: 24px;
  max-width: 770px;
  .title {
    @include title;
  }

  .subtitle {
    color: $active-color;
    font-size: 16px;
    font-weight: 700;
  }

  .orderOptions {
    display: flex;
    justify-content: space-between;
  }
}
