.how-to-order-title {
    font-size: 56px;
    font-weight: 700;
    color: #231E5A;
    margin-bottom: 32px;
}
.how-to-order-card-title {
    color: #231E5A;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 19px;
}
.how-to-order-card {
    margin-bottom: 58px;
    img {
        width: 100%;
    }
}
.how-to-order-card-desc {
    margin-bottom: 27px;
    color: #231E5A;
    font-weight: 400;
}
@media all and (max-width: 531px) {
    .how-to-order-title {
        font-size: 22px;
    }
    .how-to-order-card-title {
        font-size: 18px;
    }
}
@media all and (max-width: 456px) {
    .how-to-order-title {
        font-size: 25px;
    }
}