.how-to-order-title {
    font-size: 56px;
    font-weight: 700;
    color: #231E5A;
    margin-bottom: 32px;
}
.how-to-order-card-title {
    color: #231E5A;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 19px;
}
.how-to-order-card {
    margin-bottom: 58px;
}
.how-to-order-card-desc {
    margin-bottom: 27px;
    color: #231E5A;
    font-weight: 400;
}