@import './../../../../design-tokens/variables';

.wrapper {
  padding-right: 60px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  color: $primary-color !important;
  font-weight: 900;
}
