@import './../../../../design-tokens/mixins';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  justify-content: space-between;
  .btn {
    @include round-btn;
  }
}
