.footer {
  background-color: #231e5a;
  padding: 47px 0 27px;
  flex-shrink: 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.list_item {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.title {
  font-size: 22px;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 700;
}

.text {
  color: #fff;
  font-size: 12px;
}

.link {
  margin-right: 24px;
}

.extra {
  margin-top: 40px;
}

.special_link {
  color: #ffc20e;
  font-weight: 700;
  position: relative;
  &:hover:before {
    background-color: #40a9ff;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 18px;
    background-color: #ffc20e;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.social_link {
  padding: 5px;
}

.text:nth-child(2) {
  margin-bottom: 12px;
}

.text:nth-child(3) {
  margin-bottom: 24px;
}

.bottom {
  padding: 13px 0;
  background: #2a256a;
  div {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
  }
}
