.faq-mobile {
  max-width: 100%;
  margin-bottom: 50px;
  .faq-mobile-title {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    margin: 0;
    background-color: rgba(129, 147, 236, 0.4);
    border-radius: 8px;
  }
  .ant-collapse {
    width: 100%;
    padding: 0 !important;
  }
  .ant-collapse-header {
    margin: 0 10px !important;
    // max-width: 280px !important;

    &::before {
      max-width: 200px !important;
      display: inline-block !important;
      -webkit-box-decoration-break: clone !important;
      box-decoration-break: clone !important;
    }

    color: #231e5a !important;
    font-size: 16px;
    padding: 10px 0 !important;
  }
  .ant-collapse-content-box {
    p {
      font-size: 12px !important;
    }
  }
  .ant-collapse-item-active {
    .ant-collapse-header {
      padding-left: 10px;
      font-weight: 700 !important;
      color: #3e5cf2 !important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
      border-bottom: 1px solid #8484b7;
      margin-bottom: 10px;
      .ant-collapse-header {
        border-top: 1px solid #8484b7;
        color: #8484b7 !important;
        font-size: 14px !important;
        font-weight: 400 !important;
      }
      .ant-collapse-content-box {
        border-top: 1px solid #8484b7;
        border-bottom: none;
        margin: 0 !important;
        background-color: #f1f1fb;
        padding: 0 !important;
        p {
          padding: 10px;
          margin: 0 !important;
        }
      }
    }
  }
}

.faq-questions {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  color: #231e5a;
}
