.contacts-title {
  background: url("./images/Banners\ for\ category\ 1\ \(2\).png");
  height: 164px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #231e5a;
  font-size: 40px;
  margin-bottom: 100px;
}

.contacts-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "f1 f2 f3 f4"
    "f5 f5 f6 f6";
}
.f1 {
  grid-area: f1;
}
.f2 {
  grid-area: f2;
}
.f3 {
  grid-area: f3;
}
.f4 {
  grid-area: f4;
}
.f5 {
  grid-area: f5;
}
.f6 {
  grid-area: f6;
}
.contacts-map {
  width: 100%;
}
.contacts-cards-email-item {
  box-shadow: 0.4px 0.4px 16px rgba(212, 218, 236, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  padding: 20px;
  p {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #231e5a;
  }
  .contacts-cards-email-item-intro {
    color: #8484b7;
    font-weight: 400;
    font-size: 16px;
    display: block;
  }
  .contacts-cards-email-item-btn-questions {
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #3e5cf2;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
  }
  div {
    span {
      color: #231e5a;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.contacts-emails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contacts-addresses-card {
  box-shadow: 0.4px 0.4px 16px rgba(212, 218, 236, 0.7);
  height: 300px;
  border-radius: 8px;
  padding: 20px;
  p {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #231e5a;
  }
  .contacts-addresses-card-info {
    color: #8484b7;
    font-size: 16px;
    line-height: 18px;
  }
  .address-download-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 20px;
  }
  .contacts-addresses-card-download-btn {
    width: 50%;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 400;
      font-size: 16px;
      color: #231e5a;
    }
    img {
      margin-left: 50px;
    }
  }
}

@media all and (max-width: 320px) {
  .contacts-cards-email {
    grid-template-columns: 1fr 1fr !important;
    width: 100%;
    margin: 0 auto;
  }
  .card-titles {
    font-size: 16px !important;
  }
  .contacts-addresses {
    width: 100%;
  }
  .contacts-addresses-card {
    width: 140px !important;
    height: 270px !important;
    padding: 10px !important;
  }
  .contacts-cards-email-item {
    padding: 7px !important;
    height: 150px !important;
    width: 140px !important;
  }
  .contacts-cards-email-item-intro,
  .contacts-addresses-card-info {
    padding: 0 !important;
    font-size: 9px !important;
  }
  .contacts-emails {
    padding: 0 !important;
    span {
      margin-right: auto !important;
      font-size: 9px !important;
    }
    img {
      width: 5px;
    }
  }
  .contacts-addresses-card-download-btn {
    // justify-content: center;
    width: 100% !important;
    align-items: center;
    span {
      color: #231e5a;
      font-size: 9px !important;
    }
  }
  .address-download-wrapper {
    margin-top: 10px;
    width: 100%;
    justify-content: center !important;
  }
  .contacts-cards-email-item-btn-questions {
    width: 100% !important;
    font-size: 9px !important;
  }
  .download-arrow {
    width: 7px !important;
  }
}

@media all and (max-width: 425px) {
  .contacts-cards-email {
    grid-template-columns: 1fr 1fr !important;
    width: 100%;
    margin: 0 auto;
  }
  .card-titles {
    font-size: 16px !important;
  }
  .contacts-addresses {
    width: 100%;
  }
  .contacts-addresses-card {
    width: 100% !important;
    // height: 270px !important;
    padding: 10px !important;
  }
  .contacts-cards-email-item {
    padding: 7px !important;
    height: 150px !important;
    width: 100% !important;
  }
  .contacts-cards-email-item-intro,
  .contacts-addresses-card-info {
    padding: 0 !important;
    font-size: 9px !important;
  }
  .contacts-emails {
    padding: 0 !important;
    span {
      margin-right: auto !important;
      font-size: 9px !important;
    }
    img {
      width: 5px;
    }
  }
  .contacts-addresses-card-download-btn {
    // justify-content: center;
    width: 100% !important;
    align-items: center;
    span {
      color: #231e5a;
      font-size: 9px !important;
    }
  }
  .address-download-wrapper {
    margin-top: 10px;
    width: 100%;
    justify-content: center !important;
  }
  .contacts-cards-email-item-btn-questions {
    width: 100% !important;
    font-size: 9px !important;
  }
  .download-arrow {
    width: 7px !important;
  }
}
@media all and (max-width: 768px) {
  .card-titles {
    font-size: 24px !important;
  }
  .contacts-cards-email-item-intro {
    font-size: 14px !important;
  }
  .contacts-addresses-card-info {
    font-size: 14px !important;
  }
  .contacts-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "f1 f2"
      "f3 f4"
      "f5 f6"
      "f5 f6";
  }  
  .contacts-addresses-card {
    height: 320px !important;
  }

}

@media all and (max-width: 1200px) {
  .contacts-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "f1 f2"
      "f3 f4"
      "f5 f6"
      "f5 f6";
  }
}

@media all and (max-width: 600px){
  .contacts-addresses-card {
    .contacts-addresses-card-download-btn{
      width: 100%;
    }
  }
}
@media all and (max-width: 500px) {
  .contacts-cards-email-item-btn-questions {
    font-size: 9px !important;
  }
  .card-titles {
    font-size: 16px !important;
  }
  .contacts-emails {
    span {
      font-size: 9px !important;
    }
    img {
      height: 10px !important;
    }
  }
  .contacts-addresses-card-download-btn {
    span {
      font-size: 9px !important;
    }
  }
  .contacts-addresses-card {
    height: auto !important;
  }
  .contacts-cards-email-item {
    height: 220px !important;
  }
  .download-arrow {
    height: 10px !important;
  }
  .contacts-cards-email-item-intro {
    font-size: 9px !important;
  }
  .contacts-addresses-card-info {
    font-size: 9px !important;
  }
  .contacts-cards {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "f1 f2"
      "f3 f4"
      "f5 f6"
      "f5 f6";
  }
}
@media all and (max-width: 480px){
  // .contacts-addresses-card {
  //   width: 50px !important;
  // }
}