@import './../../design-tokens/mixins';
@import './../../design-tokens/variables';

@import './../../design-tokens/mixins';

.barterWrapper {
  @include box;
  padding: 25px;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 30px;
  .barterTitle {
    @include title;
    margin-bottom: 59px;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    .btn {
      background-color: $secondary-color;
      width: 270px;
      height: 40px;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #231e5a;
    margin-top: 72px;
  }
}
