.btn {
  background-color: #3e5cf2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  border: none;
  min-width: 270px;
  cursor: pointer;
  align-items: center;
  padding: 15px 5px;
  span {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
}
