.preloadWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(18, 18, 18, 0.60);
  z-index: 9999;
}

.preloadImage {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}